<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//dsit//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Kerything</vendor>
  <vendor_url>https://github.com/Reikooters/kerything</vendor_url>

  <action id="net.reikooters.kerything.run-scanner">
    <description>Run the Kerything Disk Scanner</description>
    <message>Authentication is required to perform a low-level scan of the selected partition.</message>
    <icon_name>kerything</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/kerything-scanner-helper</annotate>
  </action>

</policyconfig>