[Desktop Entry]
Name=Kerything
Exec=kerything
Icon=kerything
Type=Application
Categories=Qt;KDE;System;
GenericName=Fast file search for Linux block devices
Comment=Fast file scanning using trigrams
Terminal=false
StartupWMClass=kerything